<ion-view view-title="Request Card">
  <ion-content class="padding">
    <h4>Request a new card</h4>
    <div class="card padding">
      <h3 ng-hide="vca.show">We will contact you, thanks</h3>
      <div ng-show="vca.show">
        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Choose a card
            </div>
            <select ng-model="vca.card" 
            ng-options="card.name for card in vca.cards track by card.id"
            ng-init="vca.card = card[0]">
                
            </select>
          </label>
        </div>
        <button class="button button-full button-positive disable"  ng-click="vca.requestCard()">
          Request Card
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>