<ion-view view-title="Accounts">
  <ion-header-bar align-title="center" class="bar-calm ">
    <h1 class="title">Charts</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-avatar">
        <img src="https://picsum.photos/200/300/?random">
        <h2>{{vc.user.firstname}} {{vc.user.lastname}}</h2>
        <p> Expiration: {{vc.user.exp | date:'mediumDate' }}</p>
      </div>
    </div>
    <div class="card padding" ng-if="!vc.cardss">
      <a class="button button-block button-calm" ng-href="#/app/card">Request a new card</a>
    </div>
    <div class="card" ng-repeat="chart in vc.cardss" ng-if="vc.cardss">
      <div class="item item-text-wrap" ng-if="vc.cardss">
        <button ng-click="vc.details(chart)" class="button button-full button-calm">
          {{chart.title || details}}
        </button>
        <canvas id="chart.id" class="chart chart-pie" chart-data="chart.datas" chart-labels="chart.labels">
        </canvas>
      </div>
    </div>
  </ion-content>
</ion-view>