<ion-view view-title="Details" ng-controller="detailsCtrl as vm">
    <ion-content ng-repeat="label in vm.account.labels" class="padding">
        <h5 align-title="center" class="title">Details {{ vm.account.title}}</h5>
        <div class="list" ng-repeat="data in vm.account.datas track by $index">

            <div class="item item-divider">
                {{label}}
            </div>

            <a class="item">
                {{data}}
            </a>
        </div>
    </ion-content>
</ion-view>