<ion-view view-title="Home" ng-controller="homeCtrl as vm" name="home-view">
    <ion-header-bar align-title="center" class="bar-calm">
        <div class="buttons">
            <a class="button icon ion-person" href="#/login"></a>
        </div>
        <h1 class="title">Sabadell</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="row">
            <div class="col">
                <h5>
                    <strong>This is a quick review </strong>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                    it to make a type specimen book.</p>
            </div>
        </div>
        <div class="row">
                <div class="col">
                    <img src="../img/banner2.jpg" class="banner-image">
                </div>
            </div>
        <div class="row">
            <div class="col">
                <h5>
                    <strong>This is a subtitle </strong>
                </h5>
                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections
                    1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
                    original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="../img/banner-sabadell.jpg" class="banner-image">
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-calm">
        <h6 class="foo-title">This is a quis app created with Ionic V1 and Angularjs</h6>
    </ion-footer-bar>
</ion-view>