<ion-view view-title="sing Up" name="login-view">
    <ion-header-bar align-title="center" class="bar-calm">
        <div class="buttons">
            <a class="button icon ion-ios-home" href="#/home"></a>
        </div>
        <h1 class="title">Sing Up</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="row">
            <div class="col">
                <img class="banner-image" src="../img/logo.jpg" alt="">
            </div>
        </div>
        <form name="vs.form" novalidate ng-submit="vs.singUp()">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">First Name</span>
                    <input required name="userName" type="text" placeholder="User Name" ng-model="vs.data.username">
                </label>
                <div class="item mbsc-err-msg" ng-show="vs.form.userName.$error.required && vs.form.$submitted">
                    <span>Tell us your name</span>
                </div>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Last Name</span>
                    <input required name="userlastname" type="text" placeholder="Last Name" ng-model="vs.data.userlastname">
                </label>
                <div class="item mbsc-err-msg" ng-show="vs.form.userlastname.$error.required && vs.form.$submitted">
                    <span>Tell us your last name</span>
                </div>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input required name="mail" type="email" placeholder="email" ng-model="vs.data.mail">
                </label>
                <div class="item mbsc-err-msg" ng-show="vs.form.mail.$error.required && vs.form.$submitted">
                    <span>Tell us your email</span>
                </div>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Password</span>
                    <input required name="password" type="password" placeholder="Password" ng-model="vs.data.password">
                </label>
                <div class="item mbsc-err-msg" ng-show="vs.form.password.$error.required && vs.form.$submitted">
                    <span>Tell us your password</span>
                </div>
            </div>
            <button class="button button-block button-calm" type="submit">Create User</button>
            <p style="text-align: center;">Or</p>
            <div class="button-bar">
                <a class="button button-clear button-positive" href="#/login">Log in</a>
            </div>
        </form>
    </ion-content>
    <ion-footer-bar class="bar-calm">
        <h6 class="foo-title">This is a quis app created with Ionic V1 and Angularjs</h6>
    </ion-footer-bar>
</ion-view>